@import '../../../../config/variables';

.header {
    text-align: center;
    margin-top: 13rem;
}

.how::before {
    background-color: $lightgrey;
    content: "";
    position: absolute;
    left: 50%;
    height: 160px;
    width: 1px;
    transform: translateY(-120%)
}
